<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="JssNextWeb"
             deploymentSecret="rkir7gew5pnicf0l7uryqd46gs9eu8pq5oe0y0o80hx"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
